@page
@model AppGoodFriendsRazor.Pages.Edit.AddEditPetModel
@{
    ViewData["Title"] = Model.PageHeader ?? "Add and edit pets of a Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<a href="javascript:window.history.back()" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left bi-2x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 1 0-.708L2.707 8.5l2.647-2.646a.5.5 0 0 1 .708.708L4.207 8.5l1.854 1.854a.5.5 0 0 1-.708.708z" />
        <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5z" />
    </svg>
</a>

<div class="container px-4 py-4" id="pets-of-friends">
    <h2 class="pb-2 border-bottom">My friend's pets</h2>

    <p>Select To Edit the Kind and Mood.</p>
    <form class="needs-validation" method="post" novalidate>
        <input name="PetId" value="@Model.PetIM.PetId" type="hidden" />

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="PetIM.Name" class="form-label">Pet Name</label>
                <input type="text" class="form-control" asp-for="PetIM.Name" required />
                <span asp-validation-for="PetIM.Name" class="invalid-feedback">Please enter a name for the new pet.</span>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="PetIM.Kind" class="form-label">Pet Kind</label>
                <select class="form-control" asp-for="PetIM.Kind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" required>
                    <option value="">Pick one</option>
                </select>
                <span asp-validation-for="PetIM.Kind" class="invalid-feedback">Please select a kind for the new pet.</span>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="PetIM.Mood" class="form-label">Pet Mood</label>
                <select class="form-control" asp-for="PetIM.Mood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" required>
                    <option value="">Pick one</option>
                </select>
                <span asp-validation-for="PetIM.Mood" class="invalid-feedback">Please select a mood for the new pet.</span>
            </div>
        </div>
        <input type="hidden" asp-for="PetIM.FriendId" />
        @if (Model.PetIM.PetId == Guid.Empty)
        {
            <button class="w-100 btn btn-success btn-lg my-4" type="submit" asp-page-handler="AddPet">Add Pet</button>
        }
        else {
        <button class="w-100 btn btn-primary btn-lg my-4" type="submit" asp-page-handler="Save">Save</button>
        }
    </form>
</div>