@page
@model AppGoodFriendsRazor.Pages.Edit.AddEditFriendModel
@{
    ViewData["Title"] = "Add or Edit Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken] 

<div class="container px-4 py-4" id="add-edit-friend">
    <h2 class="pb-2 border-bottom">Edit details of a friend</h2>
        <p>Below you find all the details of my friend. You can also modify the pets my friend has and the quotes he/she likes.</p>
    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    
                    <!-- Hidden fields used to bind input model -->
                    <input asp-for="EditFriendIM.FriendId" type="hidden" />
                    <input asp-for="EditFriendIM.StatusIM" type="hidden" />

                    
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" asp-for="EditFriendIM.Firstname">
                        <span asp-validation-for="EditFriendIM.Firstname" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" asp-for="EditFriendIM.Lastname">
                        <span asp-validation-for="EditFriendIM.Lastname" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" asp-for="EditFriendIM.Email">
                    </div>
                    <div class="col-sm-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="birthday" class="form-control" id="birthday" asp-for="EditFriendIM.Birthday">
                    </div>

                    <div class="row g-3 visible">
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" asp-for="EditFriendIM.AddressIM.StreetAddress">
                            <span asp-validation-for="EditFriendIM.AddressIM.StreetAddress" class="invalid-feedback"></span>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zipcode</label>
                            <input type="text" class="form-control" id="zipCode" asp-for="EditFriendIM.AddressIM.ZipCode">
                            <span asp-validation-for="EditFriendIM.AddressIM.ZipCode" class="invalid-feedback"></span>
                        </div>

                        <div class="col-md-4">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" asp-for="EditFriendIM.AddressIM.City">
                            <span asp-validation-for="EditFriendIM.AddressIM.City" class="invalid-feedback"></span>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" asp-for="EditFriendIM.AddressIM.Country">
                        </div>
                    </div>
                </div>

                <button class="w-100 btn btn-primary btn-lg my-4" type="submit">Save</button>
            </form>
        </div>
    </div>
   
</div>
