@page
@model AppGoodFriendsRazor.Pages.Friend.FriendAndPetModel
@{
    ViewData["Title"] = "Overview Friends and pets in the cities of a specific country";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class ="container px-4 py-4" id="list-of-friends-and-pets">
    <h2 class="pb-2 border-bottom">List of Friends and Pets</h2>
    <p>Here are some friends and their pets. You can see where they live filtered by city and country</p>

</div>
