@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This GoodFriends Project B is created by Krittapat Quan Berg</p>
<p> With help from Martin Lenart :) and my good friends </p>
