<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppGoodFriendsRazor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppGoodFriendsRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">AppGoodFriendsRazor by Quan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" 
                                    aria-expanded="false"> Home </a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false"> See Friends </a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="~/Friend/FriendsByCountry">Friends by country</a> 
                                <a class="nav-link text-dark" asp-area="" asp-page="~/Friend/FriendInCity">Friends in a country </a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-opacity-25" asp-area="" asp-page="~/Friend/ListOfFriend">List of friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-opacity-25" asp-area="" asp-page="/ListOfQuote">List of Quotes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="~/Edit/ViewFriendPetQuote">View detail of a friend </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Add & Edit </a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="~/Edit/AddEditFriend">Add & Edit details of a friend </a>
                                <a class="nav-link text-dark" asp-area="" asp-page="~/Edit/AddEditPet">Add & edit pets</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="~/Edit/AddEditQuote">Add & edit quotes</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AppGoodFriendsRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>